
<%#= link_to people_path do %>
<!--<h1 style="color:brown">people link</h1>-->
<%# end %>

<%#= link_to "people link2", controller: :people, action: :index %>

<%#=link_to "people link", people_path, :class  => "btn btn-primary" %>

<%#=link_to raw("<h1>People Link</h1>"), people_path %>

<%#= link_to("welcome show",{controller: :welcome, action: :show, id: 2}), :class  => "btn btn-primary" %>

<%#= link_to "<div class='btn btn-info'>welcome show</div>".html_safe, controller: :welcome, action: :show, id: 2 %>

<nav class="navbar navbar-default">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Brand</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Profile <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% if get_current_user %>
            <li><%= link_to "Log out",admin_log_out_path, class: "btn btn-info" %></li>
          <% else %>
            <li><%= link_to "Log In",admin_log_in_path, class: "btn btn-info" %></li>
          <% end %>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
